{% extends 'layout_admin.html' %}
{% load static %}
{% block titre_page %}
    Liste-utilisateur
{% endblock %}
{% block block_css %}
<link href="{% static 'entite/creation.css'%}" rel="stylesheet">
<link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
{% endblock %}
{% block main_bloc %}
    <form  style="border: solid 2px gold;padding: 10px;background-color: #ffffb3" enctype="multipart/form-data" class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 creation_form" method="post" action="{% url 'editer_entite' idEntite %}" >
        {% csrf_token %}
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" name="nom" value="{{ nom }}">
            <p class="input_error">{{ errer_nom }}</p>
        </div>
        <div class="form-group">
            <label>Slogan</label>
            <textarea  class="form-control" name="slogan">{{ slogan }}</textarea>
            <p class="input_error">{{ error_slogan }}</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value="{{ email }}" placeholder="yavouckolye@gmail.com">
            <p class="input_error">{{ error_email }}</p>
        </div>
        <div class="form-group">
            <label>Numero</label>
            <input type="text" class="form-control" name="numero" value="{{ numero }}" placeholder="779399425">
            <p class="input_error">{{ error_numero }}</p>
        </div>
        <div class="form-group">
            <label>Logo</label>
            <input type="file"  class="form-control" name="logo"  >
            <p class="input_error">{{ error_logo }}</p>
        </div>
        <div class="form-group">
            <label>Couleur</label>
            <input type="color" class="form-control" name="coleur" value="{{ couleur }}"  >
            <p class="input_error">{{ error_coleur }}</p>
        </div>

        <div class="form-group">
           <a style="background-color: darkgray;color: black;"  class="btn btn-danger col-md-5" href="{% url 'liste_entite' %}"type="reset">Annuler</a>
           <button style="background-color: gold;color: black;"  class="btn btn-primary col-md-5 col-md-offset-2" type="submit">Enregister</button>
        </div>
    </form>
    {% if messages%}
      {% for message in messages %}
          <div id="flashbag"  style="border: solid #1bc656;z-index: 1000;color: white;border-radius:10px;background-color:#1fbda5;padding: 10px;text-align: center" class="col-lg-4 col-lg-offset-4">{{ message}}</div>
      {% endfor %}
 {% endif %}
{% endblock %}

{% block nav_gauche_admin %}
                        <li ><a style="color: black" href="{% url 'home_administrator' %}"><i style="margin-right: 10px;" class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a></li>
                        <li ><a style="color: black" href="{% url 'parametre_administrator' %}"> <i style="margin-right: 10px;" class="fa fa-cogs" aria-hidden="true"></i> Paramètres</a></li>
                        <li ><a style="color: black" href="{% url 'liste_users'%}"><i style="margin-right: 10px;" class="fa fa-users"></i> Administrateurs</a></li>
                        <li ><a style="color: black" href="{% url 'liste_log'%}"><i style="margin-right: 10px;" class="fa fa-file-archive-o"></i> Logs</a></li>
                        <li style="background-color: gold"><a style="color: black" href="{% url 'liste_entite'%}"><i style="margin-right: 10px;" class="fa fa-institution"></i> Entités</a></li>
                        <!--li><a href="{% url 'liste_restaurant'%}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Restaurants</a></li-->
                        <li><a style="color: black" href="{% url 'liste_client'%}"><i style="margin-right: 10px;" class="fa fa-users"></i> Clients</a></li>
                        <li><a style="color: black" href="{% url 'liste_livreur' %}"><i style="margin-right: 10px;" class="fa fa-motorcycle"></i> Livreurs</a></li>
                        <li  ><a style="color: black" href="{% url 'liste_localite' %}"><i style="margin-right: 10px;" class="fa fa-map-signs"></i> Zones</a></li>
                 {% endblock %}