{% extends 'layout_admin.html' %}
{% load static %}
{% block titre_page %}
Restaurants
{% endblock %}
{% block block_css %}
<!--link type="text/css" href="{% static 'bootstrap-timepicker/css/bootstrap.min.css' %} " /-->
    <link type="text/css" href="{% static 'bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}" />
    <style>
        .myAction:hover
        {
            color: gold;
        }

    </style>
     <link href="{% static 'entite/liste.css'%}" rel="stylesheet">
{% endblock %}
 {% block nav_gauche_admin %}
                        <li ><a style="color: black" href="{% url 'home_administrator' %}"><i style="margin-right: 10px;" class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a></li>
                        <li ><a style="color: black" href="{% url 'parametre_administrator' %}"> <i style="margin-right: 10px;" class="fa fa-cogs" aria-hidden="true"></i> Paramètres</a></li>
                        <li ><a style="color: black" href="{% url 'liste_users'%}"><i style="margin-right: 10px;" class="fa fa-users"></i> Administrateurs</a></li>
                        <li ><a style="color: black" href="{% url 'liste_log'%}"><i style="margin-right: 10px;" class="fa fa-file-archive-o"></i> Logs</a></li>
                        <li style="background-color: gold"><a style="color: black" href="{% url 'liste_entite'%}"><i style="margin-right: 10px;" class="fa fa-institution"></i> Entités</a></li>
                        <!--li><a href="{% url 'liste_restaurant'%}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Restaurants</a></li-->
                        <li><a style="color: black" href="{% url 'liste_client'%}"><i style="margin-right: 10px;" class="fa fa-users"></i> Clients</a></li>
                        <li><a style="color: black" href="{% url 'liste_livreur' %}"><i style="margin-right: 10px;" class="fa fa-motorcycle"></i> Livreurs</a></li>
                        <li  ><a style="color: black" href="{% url 'liste_localite' %}"><i style="margin-right: 10px;" class="fa fa-map-signs"></i> Zones</a></li>
                 {% endblock %}
{% block main_bloc %}

<div class="right" style="padding-right:25px;padding-top: 0px;position: relative;top: -10px;">
   <a href="{% url 'nouvelle_entite' %}" title="Ajouter" class="text-rigth"><i class="fa fa-plus-circle fa-3x" style="color: gold"></i></a>
</div>

 <table class="table" id="table_utilisateur">
        <thead class="fixed-table-header">
            <tr class="table-bordered">
                <th>LOGO</th>
                <th>COULOR</th>
                <th>NOM</th>
                <th>NUMERO</th>
                <th>EMAIL</th>
                <th>SLOGAN</th>
                <th>DATE CREATION</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
                {% for entite in listeEntite %}
                    <tr >
                        <td ><img src="{{ entite.logoEntite }}" width="60" height="60"></td>
                        <td  style="padding-top: 30px;"><div style="background-color: {{ entite.ColeurEntite }};height: 20px;width: 80px;"></div></td>
                        <td  style="padding-top: 30px;">{{ entite.nomEntite }}</td>
                        <td  style="padding-top: 30px;">{{ entite.numeroEntite }}</td>
                        <td style="padding-top: 30px;">{{ entite.emailEntite }}</td>
                        <td style="padding-top: 30px;">{{ entite.sloganEntite}}</td>
                        <td style="padding-top: 30px;">{{ entite.dateCreation}}</td>
                        <td style="padding-top: 25px;">
                        <a href="{% url 'profilEntite' entite.idEntit %}"  title="détail"><i class="fa fa-home fa-2x"></i></a>
                            <a href="{% url 'editer_entite' entite.idEntit %}" title="Modifier"><i class="fa fa-edit fa-2x"></i></a>
                            {% if entite.estDesactiver == 1 %}
                                 <a href="{% url 'activer_Entite' entite.idEntit %}" title="activer" ><i style="color: green" class="fa fa-play fa-2x"></i></a>
                            {% else %}
                                <a href="{% url 'desactiver_Entite' entite.idEntit%}" title="desactiver"  ><i style="color: yellow" class="fa fa-stop fa-2x"></i></a>
                            {% endif %}
                        <a href="{% url 'ajouterManagerEntite' entite.idEntit%}" title="ajouter manager" ><i class="fa fa-user fa-2x"></i></a>

                                <!--a href="" title="desactiver" style="color: yellow;"><i class="fa fa-stop fa-2x"></i></a>

                                <a href="" title="activer" style="color: yellow;"><i class="fa fa-play fa-2x"></i></a-->

                            <a id="{{entite.idEntit  }}" data-toggle="modal" data-target="#myModal" title="supprimer"  data-confirm="Etes-vous certain de vouloir  supprimer l'Entité <span style='color: black; font-size: 1.3em;' class='badge'>{{ entite.nomEntite}}</span>?" ><i class="fa fa-trash fa-2x" style="color: red;"  ></i></a>
                            <a  href="{% url 'nouveau_restaurant' entite.idEntit %}" title="Ajouter Restaurant" ><i class="fa fa-plus-circle fa-2x"></i></a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    <!-- debut modal ----->
    {% include 'dialog.html' %}

    <!-- fin modal ----->
    {% if messages%}
      {% for message in messages %}
          <div id="flashbag"  style="border: solid #1bc656;z-index: 1000;color: white;border-radius:10px;background-color:#1fbda5;padding: 10px;text-align: center" class="col-lg-4 col-lg-offset-4">{{ message}}</div>
      {% endfor %}
        {% else %}
        <div id="flashbag"  style="border: solid #1bc656;z-index: 1000;color: white;border-radius:10px;background-color:#1fbda5;padding: 10px;text-align: center" class="col-lg-4 col-lg-offset-4" hidden></div>
 {% endif %}
{% endblock %}
{% block block_js %}
    <script type="text/javascript" src="{% static 'myTemplate/js/materialize.min.js'%}"></script>
   <script>
    $('#flashbag').fadeOut(5000);
                    $(".my_delete").click(function (e) {
                        e.preventDefault();
                        $("#dialog_text").html($(this).attr("data-confirm"));
                        $("#btn_dialog").attr("href",$(this).attr("href"));
                        $("#myModalLivreur").modal('toggle');
                    });
   </script>
{% endblock %}