<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon"  href="{% static 'logo_sen_food.ico' %}" />
    <link href="{% static 'lumino/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
      <link href="{% static 'managerAdmin/css/login.css'%}" rel="stylesheet">
</head>
<body>
 <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="{% static 'teranga_food_logo_192.png' %}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post"  action="{% url 'home_managerAdmin_fast' %}">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" name="username" class="form-control" placeholder="login" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <p style="color: red">{{ username_error }}</p>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <!--a href="#" class="forgot-password">
                Forgot the password?
            </a-->
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>