#block_detail
{
    border: solid gold;
    padding: 20px;
    padding-top: 0px;
    height: 500px;
    overflow: scroll;
}
#block_detail p
{
    font-size: 1.3em;
    text-align: justify;
}
#bloc_map
{
    height: 450px;
}