{% extends 'layout_admin.html' %}
{% load static %}
{% block titre_page %}
    Modifier -utilisateur
{% endblock %}
{% block block_css %}
<link href="{% static 'utilisateur/create_user.css'%}" rel="stylesheet">
<link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
{% endblock %}
{% block titre_module %}
MODIFIER-MOT DE PASSE UTILISATEUR
{% endblock %}
{% if request.user.is_superuser == 1 %}
                {% block nav_gauche_admin %}
                        <li ><a href="{% url 'tohome' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
                        <li><a href="{% url 'liste_users'%}"><i class="glyphicon glyphicon-user"></i> Utilisateurs</a></li>
                        <li ><a href="{% url 'liste_log'%}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Logs</a></li>
                        <li><a href="{% url 'liste_entite'%}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Logs</a></li>
                 {% endblock %}
        {% else %}
                {% block nav_gauche_user %}
                        <li><a href="{% url 'tohome' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
                        <li  ><a href="{% url 'liste_entite'%}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Entités</a></li>
                 {% endblock %}
            {% endif %}
{% block main_bloc %}
    <form class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 creation_form" method="post" action="{% url 'editer_user_pass' utilisateur %}">
        {% csrf_token %}

    {% if request.user.is_superuser != 1 %}
        <div class="form-group">
            <label>Mot de passe actuel</label>
            <input type="password" class="form-control" name="password_cur">
            <p class="input_error">{{ errer_password }}</p>
        </div>
    {% endif %}

        <div class="form-group">
            <label>Nouveau mot de passe</label>
            <input type="password" class="form-control" name="password_new">
            <p class="input_error">{{ error_password_new }}</p>
        </div>
        <div class="form-group">
            <label>Confirmer mot de passe</label>
            <input type="password" class="form-control" name="password_conf">
        </div>
     {% if request.user.is_superuser != 1 %}
        <div class="form-group">
                <p class="alert-warning"><i class="glyphicon glyphicon-warning-sign"></i> vous serez redirigé sur la page de connexion après la mise à jour du mot de passe</p>
        </div>
    {% endif %}
        <div class="form-group">
            {% if request.user.is_superuser == 1 %}
                <a class="btn btn-danger col-md-5" href="{% url 'liste_users' %}">Annuler</a>
                {% else %}
                <a class="btn btn-danger col-md-5" href="{% url 'parametre_user' request.user.username %}">Annuler</a>
            {% endif %}

           <button class="btn btn-primary col-md-5 col-md-offset-2" type="submit">Enregister</button>
        </div>
    </form>
{% endblock %}