
<div class="modal fade" id="myModal" role="dialog" style="margin-top: 100px;">
                <div class="modal-dialog">
                    <!-- Modal content recompense-->
                    <div class="modal-content" style="border: solid gold;" >
                        <div class="modal-header" style="background-color: gold;">
                            <button hidden type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="text-center"  style="color: black;">Avertissement</h2>
                        </div>
                        <div class="modal-body" >
                            <div id="msg_conf_content" class="text-center">
                                <p id="dialog_text"></p>
                            </div>
                            <div class="row " >
                              <p   class="text-center"><button id="btn_modif" class="btn"  style="background-color: grey;font-weight: bold;color: white;">Modifier</button>&nbsp;&nbsp;<button id="btn_continuer" class="btn"  style="background-color: gold;font-weight: bold;color: black"> J'accepte</button></p>
                            </div>
                        </div>

                    </div>
                </div>
        </div>